.my-div {
    /* border: 2px solid black; */
}

.my-btn {
    color: blueviolet;
}

.my-btn:hover {
    color: blueviolet;
}

.my-container {
    border: 2px solid black;
}
.my-row {
    /* border: 2px solid red; */
}

.my-col {
    border: 2px solid red;
}