body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcion {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bandera {
    width: 50vw;
    height: 50vh;
    display: flex;
    border: 2px solid black;
}
.parte_izquierda {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 32, 91);
}

.blanco_superior_izquierda {
    height: 45%;
    width: 90%;
    background-color: white;
}
.blanco_inferior_izquierda {
    height: 45%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    background-color: white;
}

.cuadro_rojo {
    height: 80%;
    width: 90%;
    background-color: rgb(186, 12, 47);
}

.parte_derecha {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(0, 32, 91);
}

.blanco_superior_derecha {
    height: 45%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.blanco_inferior_dercha {
    height: 45%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
}