
body {
    background-color: #202124;
}

.navbar {
    /* border: 2px solid black; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.nav_items > a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.main {
    /* border: 2px solid white; */
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    height: 34px;
    background-color: transparent;
    width: 500px;
    border-radius: 25px;
    margin-top: 30px;
    border: 1px solid #5f6368;
}

.buttoms {
    /* border: 2px solid blue; */
    height: 100px;
    margin-top: 30px;
    width: 400px;
}

button {
    height: 36px;
    background-color: #303134;
    color: white;
    border: none;
    border-radius: 8px;
    width: 130px;
}

.lucky {
    /* border: 2px solid white; */
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    text-align: center;
    color: #bdc1c6;
}

p > a {
    color: #8ab4f8;
}